Repository FAST-HEP/fast-curator, pull requests merged in 2019-10, with the labels that each got.

#29 Add option to select a file path prefix
  CHANGELOG.md
  fast_curator/__main__.py
  fast_curator/catalogues/__init__.py
  fast_curator/read.py
  fast_curator/version.py
  fast_curator/write.py
  setup.cfg
  tests/test_read.py
  tests/test_write.py
Labels: Hacktoberfest, Interface: Check, Interface: Read, Interface: Write, enhancement

#30 If treename has len == 0 leave as string
  CHANGELOG.md
  fast_curator/version.py
  fast_curator/write.py
  setup.cfg
Labels: Interface: Write

#32 Added --version to ArgumentParser in __main__.py (fixes #31)
  fast_curator/__main__.py
Labels: Hacktoberfest
